body{
    background-color: #d1cdcd;
    color: darkblue ;
}
header, h1{
    font-style: bold;
    background-color: #51cbff;
    color:white;
}
div.content {
    padding: "20px";
    font-family: "Arial"
}

h3{
    font-style: bold;
    
}
table {
    border-collapse: collapse;
    width: 100%;
     margin-top: 15px;
    }
th, td {
     border: 1px solid rgb(59, 59, 95);
    padding: 8px;
    text-align: left;
}
 th {
    background: #eacbcb;
}
button{
    background-color: #98bded;
    color: darkblue ;
    border-color: none;
}