body{
    background-color: #e1efe6;
    color: #011046 ;
}
#menu h2{
        background-color:#8884ff;
        color: #e1efe6;
        padding: 5px;
}
#menu a{
    text-decoration: none;
    color: #c6d1d1;
}
.lu{
    list-style: none;
    text-decoration: none;
}
#menu a:hover { 
    background-color: #c6d1d1;
    color:#4c60f3;
}

#menu li{
    display: inline;
    color:aliceblue;
    padding: 3px;
}
header, h1{
    background-color: rgb(119, 119, 253);
    color: #e1efe6;
    font-style: bold;
    text-align: center;
    padding:1px;
    text-decoration: underline;
}
div.content {
    padding: "20px";
    font-family: "Arial"
}

h3{
    font-style: bold;
    
}
table {
    border-collapse: collapse;
    width: 100%;
     margin-top: 15px;
    }
th, td {
    border: 1px solid rgb(59, 59, 95);
    padding: 8px;
    text-align: left;
    ;
}
td{
    background: #aeb7b3;
}
 th {
    background-color: #49516f;
    color:#e1efe6;
}
button{
    background-color: #8884ff;
    color: white ;
    border-color: none;
}
input{
    background-color: #edefee;
    color: #011046;
}